.librarycard {
  $self: &;

  &__contents {}

  &__headline {}

  &__content {
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
  }

  &__inner {}

  &__title {
    text-align: center;
    margin-bottom: 30px;
    font-family: "IR";
    font-size: 30px;
    line-height: 34px;
    letter-spacing: 0.6px;
    color: $text;
  }

  &__benefits {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    // height: 386px;
    padding: 19px 18px 27px;
    border: 3px solid $brown;
		box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    // background: $white;
  }

  &__box {
    display: flex;
    flex-direction: column;
    width: 560px;
    height: 272px;
    padding: 20px 20px 25px;
    margin-bottom: 19px;
    background: $brown;
  }

  &__subtitle {
    margin-bottom: 22px;
    font-family: "FR";
    font-size: 30px;
    line-height: 46px;
    letter-spacing: 0.6px;
    text-transform: capitalize;
    color: $text;
  }

  &__input {
    width: 520px;
    height: 66px;
    padding: 12px 19px 12px;
    margin-bottom: 25px;
    border-radius: 10px;
    border: $brown;
    font-family: "FR";
    font-size: 30px;
    letter-spacing: 0.6px;
    color: $brown;

    &:focus {
      outline: none;
    }

    &:last-child {
      margin-bottom: 0;
    }

    &::placeholder {
      font-family: "FR";
      font-size: 30px;
      letter-spacing: 0.6px;
      color: $grey;
    }
  }

  &__buttons {}

  &__button {}

  &__button-check.button {
    font-family: "IB";
    width: 242px;
    padding: 9px 20px;
    font-size: 20px;
    letter-spacing: 1px;
  }


  &__button-get.button {
    width: 75px;
    height: 30px;
    // padding: 7px 15px 9px;
    margin-right: 16px;
		font-family: "IB";
    letter-spacing: 1px;
    border-radius: 2px;
    font-size: 10px;
    color: $background-black;

    &:last-child {
      margin-right: 0;
    }
  }

  &__get {
    text-align: right;
  }

  &__caption {
    font-family: "FR";
    font-size: 30px;
    line-height: normal;
    letter-spacing: 0.6px;
    margin-bottom: 35px;
    color: $text;
  }

  &__text {
    width: 460px;
    text-align: right;
		margin-bottom: 34px;
    font-family: "IR";
    font-size: 20px;
    line-height: 40px;
    letter-spacing: 0.4px;
		color: $text;
  }


}