@import "layout/layout.scss";
@include reset();

// вызов показа текущего диапазона
// body {
//   @include screen-media();
// }

// Import media-query helper
@import "../../node_modules/include-media/dist/_include-media.scss";

$breakpoints: (
  'xxxs': 360px,
  'xxs': 480px,
  'xs': 640px,
  'sm': 780px,
  'md': 960px,
  'lg': 1024px,
  'xlg': 1280px,
  'xxlg': 1440px,
  'xxxlg': 1680px,
  'xxxxlg': 1920px);

// отключение hover 
$mouse-device: '(hover: hover) and (pointer: fine)';

// fonts
@include font-face("Inter-Regular", "IR");
@include font-face("Forum-Regular", "FR");
@include font-face("Inter-Bold", "IB");


// Import BEM blocks scss
@import "../blocks/**/*.scss";

// Определяем анимацию затухания  
@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

// Определяем анимацию проявления 
@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

body,
html {
  display: flex;
  box-sizing: border-box;
  min-height: 100vh;
  flex-flow: column nowrap;
  font-size: #{$basesize}px;
  font-family: "IR", sans-serif;
  line-height: 1.2;
  color: $text;
  background-color: $gunmetal;
  scroll-behavior: smooth;
  // overflow-x: hidden;
}

.preload * {
  transition: none;
}

.button {
  cursor: pointer;
  border-radius: 2px;
  border: 1px solid $bd-black;
  background-color: $white;
  transition: background-color 0.6s ease, border 2s ease, transform 0.6s ease;

  &:hover {
    @media #{$mouse-device} {
      border: 1px solid $brown;
      background-color: $brown;
    }
  }

  &:disabled {
    cursor: default;
    background-color: $white;
    border: 1px solid $brown;
    color: $brown;

    & span {
      color: $brown;
    }
  }

  & span {
    text-align: center;
    font-family: "IB";
    font-size: 10px;
    letter-spacing: 1px;
    color: $bd-black;
  }
}

// animation button
.animation-button {
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.6s ease, box-shadow 0.6s ease, box-shadow 0.6s ease;

  &:hover {
    @media #{$mouse-device} {
      border-radius: 50%;
      // box-shadow: 0 0 2px 4px $mulberry;
      transform: scale(1.1);
    }
  }

  &:active {
    transform: scale(0.9);
    filter: invert(.5);
  }

}

// animation text
.animation-text {
  border-radius: 2px;
  cursor: pointer;
  transition: transform .1s ease, box-shadow .2s ease, background-color .2s ease;

  &:hover {
    @media #{$mouse-device} {
      background-color: $steel-blue;
      box-shadow: 0 0 2px $brown;
    }
  }

  &:active {
    transform: translateY(2px);
    background-color: $caribbean-green;
  }
}

// граница тени
.dynamic-shadow {
  border-radius: 10px;
}