.modal {
  $self: &;

  color: $white;

  &__over {
    padding: 1rem 1rem;
  }

  &__title {}

  &__container {
    margin-top: 1rem;
  }

  &__button {}

  &__text {}

  &__table {
    padding: 1rem .5rem;
  }

  &__items {}

  &__item {
    display: flex;
    padding: 0 .5rem;
  }

  &__place {
    max-width: 9rem;
    width: 100%;
    margin-right: 1rem;
  }

  &__point {}

}