.modal {
  $self: &;

  &__over {}

  &__title {}

  &__container {}

  &__button {}

  &__text {}

  &__table {}

  &__items {}

  &__item {
    display: flex;
  }

  &__place {
    max-width: 9rem;
    width: 100%;
    margin-right: 1rem;
  }

  &__point {}

}