.header {
  $self: &;

  z-index: 9;
  position: relative;
  padding: 0.6% 4%;
  background-color: $castleton-green;
  border-radius: 0 0 .4rem .4rem;

  &__body {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    @include media('<=xs') {
      flex-wrap: wrap;
    }
  }

  &__title {}

  &__img {
    width: 3rem;
  }

  &__restart {}

  &__restart-btn {}

  &__score {}

  &__score-text {}

  &__score-point {}

  &__record {}

  &__record-text {}

  &__record-point {}

  &__subtitle {}

}