.header {
  $self: &;

  z-index: 9;
  position: relative;
  padding: 0.6% 4%;
  color: $white;
  background-color: $castleton-green;
  border-radius: 0 0 .4rem .4rem;

  &__body {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    @include media('<=xs') {
      flex-wrap: wrap;
    }
  }

  &__title {
    background-color: $steel-blue;
    padding: .2rem;
    border-radius: .2rem;
    font-size: 1.8rem;
  }

  &__title-color {}

  &__title-color--sage-color {
    color: rgb(165, 193, 159);
  }

  &__title-color-blue {
    color: rgb(0, 54, 248)
  }

  &__title-color-purple {
    color: rgb(52, 24, 227)
  }

  &__img {
    width: 3rem;
    cursor: pointer;
  }

  &__restart {}

  &__restart-btn {}

  &__score {}

  &__score-text {}

  &__score-point {}

  &__record {}

  &__record-text {}

  &__record-point {}

  &__subtitle {}

  &__sound {}

}