.header {
  $self: &;

  z-index: 9999999;
  position: relative;
  padding: 2%;
  background-color: $castleton-green;

  &__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    display: flex;
  }

  &__pic {
		width: 100%;
	}

  &__img {}

  &__title {}

  &__container {}

  &__search-icon {}

}