.header {
  $self: &;
  background-color: $background-black;

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: rem(20px) rem(31px) rem(20px) rem(20px);
  }
  
  &__menu {
    display: flex;
    align-items: center;
  }
  
  &__drop-menu {
    min-width: rem(28px);
    height: rem(28px);
  }

  &__image {}

}