.header {
  $self: &;
  z-index: 10;
  width: 100%;
  margin-bottom: 0;
  background-color: $background-black;

  &__contents {
    margin-bottom: 0;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
  }

  &__menu {
    display: flex;
    align-items: center;
  }

  &__menu-drop {
    position: relative;
    min-width: 28px;
    height: 28px;

    @include media('<=lg') {
      z-index: 1;
      margin-right: 85px;
    }

    // @include media('<=sm') {
    //   margin-right: 85px;
    // }
  }

  &__image {}

  &__menu-profile {
    z-index: -1;
    position: absolute;
    top: 100%;
    right: 0;
    min-width: 80px;
    min-height: 115px;
    padding: 5px 5px 20px;

    text-align: center;
    font-size: 15px;
    line-height: 20px;

    background-color: $white;
    color: $text;
    opacity: 0;
    transition: opacity 1s;

    &--active {
      z-index: 1;
      opacity: 1;
    }

    // @include media('<=lg') {
    //   right: 9.5%;
    // }
    // @include media('<=md') {
    //   right: 10.9%;
    // }
    // @include media('<=sm') {
    //   right: 13.7%;
    // }
  }

  &__menu-profile-contents {}

  &__title {
    font-family: "IB";

    &::after {
      content: "";
      display: block;
      width: 97.2%;
      max-width: 40px;
      height: .5px;
      margin: 5px auto 15px;
      background-color: $brown;
    }
  }

  &__list {
    display: grid;
    gap: 10px;
    font-family: "IR";
  }
	
  &__item {}
	
  &__link {
		padding: 0 2px;
		color: $text;
		background: none;
		border: none;
		cursor: pointer;
  }

}