.favorites {
  $self: &;

  &__contents {
    margin: 0 20px;
  }

  &__headline {}

  &__subtitle {
    margin-bottom: 43px;
    text-align: left;
    font-family: "IB";
    font-size: 20px;
    color: $text;
  }

  &__radio {
    display: flex;
    margin-bottom: 39px;
  }

  &__item {
    position: relative;
    margin-right: 88px;
  }

  &__input-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    border: 2px solid black;
    background-color: $white;
    margin-right: 15px;
    // margin: 0;
    padding: 0;
    // vertical-align: middle;
    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      // top: -3px;
      // left: -15px;
      width: 140px;
      height: 30px;
      cursor: pointer;
      width: 7px;
      height: 7px;
      border-radius: 50%;
      background-color: black;
      top: 5.5px;
      left: 5px;
      display: none;
    }

    &[type="radio"]:checked::before {
      display: block;
    }

  }

  &__input-label {
    font-family: "IB";
    font-size: 20px;
    line-height: 22px;
    color: $text;
    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      top: -4px;
      left: -15px;
      width: 140px;
      height: 30px;
    }
  }

  &__holder {}

  &__cards {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 220px;
    grid-row-gap: 40px;
  }

  &__card {
    position: relative;
    width: 550px;
    padding: 15px 18px;
    border: 1px solid $text;
  }

  &__title.headline {
    margin-bottom: 22px;
    text-align: left;
    font-size: 20px;

    &::after {
      width: 60px;
      margin: -2px 0;
      background-color: $brown;
    }
  }

  &__title-name {
    font-family: "IB";
    font-size: 15px;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: $text;
  }

  &__title-author {
    margin-bottom: 20px;
    font-family: "IB";
    font-size: 15px;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
    color: $text;
  }

  &__desc {
    width: 355px;
    margin-bottom: 45px;
    font-family: "IR";
    font-size: 15px;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
    color: $text;
  }

  &__icon {
    position: absolute;
    width: 200px;
    height: 300px;
    left: 389px;
    bottom: -1px;
  }

  &__img {}

  &__button.button {
    width: 75px;
    height: 30px;
    position: absolute;
    bottom: 15px;
    left: 20px;
  }

  &__text {}

}