.footer {
  $self: &;

  z-index: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  background-color: $gunmetal;
  color: $white;

  &__link {
    font-size: 20px;
    font-family: "IR";
    white-space: nowrap;
    color: $white;
  }
}