.greet {
  $self: &;

  display: block;
  position: relative;

  font-size: 1.2rem;
  color: $white;

  &__box {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 0 1rem;
    width: 100%;
    max-width: 60rem;
    height: 100vh;
  }

  &__title {}

  &__close {
    position: absolute;
    display: block;
    top: 30%;
    right: 10%;
  }

  &__items {
    margin-top: 2rem;
  }

  &__item {
    text-align: center;
    margin-top: .5rem;
  }

  &__text {}

  &__button {
    margin-top: 2rem;
  }

}