.preloader {
  // position: absolute;
  position: fixed;
  // position: relative;
  // display: block;
  top: 30%;
  right: 40%;
  width: 60px;
  height: 60px;
  border: 6px solid transparent;
  border-top: 6px solid $pigment-green;
  /* Цвет красной линии */
  border-radius: 50%;
  animation: spin 2s linear infinite, gradient 4s linear infinite;
  transform: translate(-50%, -50%);
}

@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes gradient {
  0% {
    border-image: linear-gradient(90deg, $harvest-gold, $forest-green);
    border-image-slice: 1;
  }

  100% {
    border-image: linear-gradient(90deg, $forest-green, $harvest-gold);
    border-image-slice: 1;
  }
}