.welcome {
  $self: &;
  content: "";
  display: flex;
  min-height: 652px;
  max-width: 1440px;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0 auto;
  background: url(../images/img/welcome.png) no-repeat;

  &__content {
    width: 600px;
    padding: 35px 40px;
    background-color: $background-black;
  }

  &__title {}

  &__headline {
    text-align: center;
    font-family: "FR", sans-serif;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: $white;
  }

}