.welcome {
  $self: &;
  display: flex;
  min-height: rem(652px);
  max-width: rem(1440px);
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0 auto;
  content: "";
  background: url(../images/img/welcome.png) no-repeat;

  &__content {
    width: rem(600px);
    padding: rem(35px) rem(40px);
    background-color: $background-black;
  }

  &__title {}

  &__headline {
    text-align: center;
    font-family: "FR", sans-serif;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: $white;
  }

}