.modal {
  $self: &;

  // z-index: 10;
  // display: none;
  // display: block;

  &__main {
    z-index: 10;
    display: none;
    // display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($text, 0.2);
    backdrop-filter: blur(10px);
  }

  &__content {
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 250px;
    height: 382px;
    padding: 20px 25px;
    // border-radius: 5px;
    background-color: $white;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.07);
    transform: translate(-50%, -50%);

    &-login {
      height: 262px;
    }
  }

  &__close-button {
    position: absolute;
    top: 13px;
    right: 13px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;

    &--location {
      top: 23px;
      right: 23px;
    }
  }

  &__headline {
    margin-bottom: 20px;
    font-family: "FR";
    text-align: center;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.4px;
    color: $text;
    text-transform: uppercase;
  }

  &__form {
    display: flex;
    flex-direction: column;

    &>* {
      margin-bottom: 10px;
    }

    &>*:last-child {
      margin-bottom: 0;
    }
  }

  &__label {
    margin-bottom: 10.5px;
    text-align: left;
    font-family: 'IR';
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.3px;
    color: $text;
  }

  &__input {
    padding: 2.1px 4px;
    font-size: 11px;
    border-radius: .2px;
    border: 1px solid $brown;
    background-color: $white;
    color: $text;
    outline: none;

    &:hover {
      border: 1px solid rgba($brown, 0.2);
    }

    &:focus {
      border: 1px solid rgba($brown, 0.8);
    }

    &::placeholder {
      color: $text;
    }

    &[type='tel'] {
      // Добавьте здесь стили для валидации поля телефона
    }

    &[type='password'] {
      // Добавьте здесь стили для валидации поля пароля
    }
  }

  &__toggle-password {
    position: absolute;
    text-decoration: none;
    cursor: pointer;
    border: none;
    background-color: transparent;
    text-indent: -99999px;
  }

  &__button {
    width: 100%;
    max-width: 75px;
    margin-top: 11px;
    padding: 9px 14px 8px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    font-family: "IB";
    font-size: 10px;
    font-style: normal;
    letter-spacing: 1px;
  }

  &__forgot {
    display: flex;
  }

  &__text {
    margin-right: 9px;
    text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.16);
    font-family: "IR";
    font-size: 10px;
    color: $text;
  }

  &__style-button {
    background: none;
    border: none;
    color: inherit;
    font: inherit;
    padding: 0 2px;

    // text-decoration: underline;
    text-align: center;
    font-family: "IB";
    font-size: 10px;
    font-style: normal;
    letter-spacing: 1px;
    color: $text;

    &:after {
      content: "";
      display: block;
      width: 97.2%;
      max-width: 40px;
      height: 0.5px;
      margin: .7px auto;
      background-color: $text;
    }
  }

  &__content-my-profile {
    display: flex;
    // align-items: center;
    // justify-content: flex-start;
    width: 600px;
    height: 400px;
    padding: 0;
  }

  &__sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 170px;
    width: 100%;
    margin-right: 20px;
    background-color: $text;
  }

  &__user-icon {
    display: none;
    z-index: -10;
    opacity: 0;

    &.active {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 80px;
      height: 80px;
      margin-bottom: 15px;
      // border-radius: 50%;
      background-color: $white;

      z-index: 10;
      opacity: 1;

      color: $brown;
      font-family: "IR";
      font-size: 20px;
      font-style: normal;
      line-height: 20px;
    }
  }

  &__aside-name {}

  &__name {
    padding: 5px 15px;
    text-align: center;
    font-family: "IR";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    text-transform: capitalize;
    color: $text;
    background-color: $white;
  }

  &__inner {
    padding: 40px 0;
  }

  &__title {
    // text-align: center;
    margin-bottom: 41px;
    font-family: "FR";
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    color: $text;
  }

  &__cards-profile {
    padding: 0;
    margin-bottom: 20px;
    max-width: 260px;
  }

  &__items {
    gap: 12px;
  }

  &__item {
    gap: 10px;
    width: 51px;
    // height: 100%;
    display: grid;
    justify-content: center;
  }

  &__subject {
    text-align: center;
    font-family: "IR";
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.4px;
    color: $text;
  }

  &__icon {
    display: block;
    width: 20px;
    height: 21px;
  }

  &__subtitle {
    margin-bottom: 30px;
    font-family: "IR";
    font-size: 25px;
    line-height: 20px;
    color: $text;
  }

  &__items-book-container {
    max-height: 3.6em;
    height: 100%;
    overflow-y: auto;
    margin-bottom: 32px;
  }

  &__items-book {
    padding-left: 30px;
  }

  &__item-book {
    list-style-type: disc;
    padding-bottom: 10px;

    font-family: "IR";
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: capitalize;
    color: $text;

    &:last-child {
      padding-bottom: 0;
    }
  }

  &__box {
    display: flex;
  }

  &__text-item {
    margin-right: 13px;
    text-align: center;
    font-family: "IR";
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.4px;
    color: $text;
  }

  &__number {
    margin-right: 15px;
    text-align: center;
    font-family: "IR";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    color: $brown;
  }

  &__icon-copy {
    display: block;
    width: 24px;
    height: 24px;
    // margin: 8px 15px 8px 0;
    transition: transform 0.2s ease-in-out;

    &:hover {
      @media #{$mouse-device} {
        transform: scale(1.1);
      }
    }

    &:active {
      transform: scale(0.9);
    }
  }

  &__copy-message {
    position: absolute;
    bottom: 6%;
    right: 18%;
  }
}