.preloder {
  z-index: 2;

  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;

  // position: relative;
  // background: $gunmetal;
  background: $text;
  transition: 1s all ease;
  opacity: 1;
  visibility: visible;

  &__circle,
  &__circle:before,
  &__circle:after {
    border: 3px solid transparent;
    border-radius: 50%;
  }

  &__circle {
    height: 110px;
    width: 110px;
    margin: 200px auto;
    position: relative;
    border-top-color: $harvest-gold;
    animation-name: spin;
    animation-duration: 1.1s;
    animation-iteration-count: infinite;
    animation-direction: normal;
  }

  &__circle:before,
  &__circle:after {
    content: "";
    position: absolute;
  }

  &__circle:before {
    top: 10px;
    left: 10px;
    bottom: 10px;
    right: 10px;
    border-top-color: $pigment-green;
    animation-name: spin;
    animation-duration: 2.1s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-duration: 2.1s;
  }

  &__circle:after {
    top: 23px;
    left: 23px;
    bottom: 23px;
    right: 23px;
    border-top-color: $castleton-green;
    animation-name: spin;
    animation-delay: 1.3s;
    animation-duration: 3.1s;
    animation-iteration-count: infinite;
    animation-direction: normal;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.done {
  opacity: 0;
  visibility: hidden;
}