.galery {
  $self: &;
  position: relative;

  &__contents {
    z-index: 1;
    position: relative;
    // display: block;
    // column-count: 4;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 10px;
    overflow: auto;
    padding: 4% 2% 10%;

    @include media('<=md') {
      // column-count: 2;
      padding: 4% 2% 32%;
    }
  }

  &__image {
    position: relative;
    display: flex;
    justify-content: center;
    // margin: 4% 0;

    // &:first-child {
    //   margin-top: 0;
    // }

    // &:nth-child(2) {
    //   margin-top: 0;
    // }

    & img {
      object-fit: cover;
      width: 28rem;
      // object-fit: contain;

    }
  }

  &__text {
    width: 100%;
    margin: auto;
    text-align: center;
    position: fixed;
    font-size: 2rem;
    padding: 3%;
    color: $white;
  }

  &__arrow-up {
    z-index: 99999;
    // position: absolute;
    position: fixed;
    // display: block;
    display: none;
    width: 4rem;
    bottom: 1%;
    right: 1%;
    filter: invert(1);

    @include media('<=md') {
      bottom: 11%;
      right: 2%;
    }
  }

  &__arrow-img {
    width: 100%;
  }
}