.menu {
  $self: &;

  &__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__item {
    margin-right: 30px;

    &:last-child {
      margin-right: 40px;
    }
  }

  &__link {
    margin: 0 2px;
    font-family: "IR", sans-serif;
    font-size: 20px;
    line-height: 50px;
    color: $white;
  }

}